{% import '_macros' as macros %}

<div class="nav">
	<div class="nav__logo">
		<a class="nav__logo-link" href="/">
			<span class="hide-visually">{{ siteName }}</span>
			{% include '_assets/logo.svg' %}
		</a>
	</div>
	{% set mainNav = header.mainNavigation.all() %}
	<ul class="nav__menu menu">
		{% for link in mainNav %}
			{% set linkUrl = link.linkField.getUrl() %}
			{% if linkUrl %}
				<li>
					<a class="{{ macros.link_is_current(linkUrl) }}" target="{{link.linkField.target}}" href="{{ linkUrl }}">{{ link.linkField.getText() }}</a>
				</li>
			{% endif %}
		{% endfor %}
		{% if header.navCta and header.navCta.getUrl() %}
			<li>
				<a class="btn" target="{{header.navCta.target}}" href="{{ header.navCta.getUrl() }}">{{ header.navCta.getText() }}</a>
			</li>
		{% endif %}
	</ul>
	<button class="nav__toggle js-nav-toggle">Menu</button>
</div>
