{% set ctas = craft.entries.section('ctas').limit(1) %}
{% set banner = {
    mode: 'crop',
    width: 500,
    height: 169,
    quality: 85,
    position: 'center-center'
} %}

{% for cta in ctas %}
	<section class="sidebar-cta">
		<img class="sidebar-cta__image" src="{{ cta.bannerImage.one().getUrl(banner) }}" alt="{{ cta.title }}"/>
		<div class="sidebar-cta__body">
			<h2 class="sidebar-cta__headline">{{ cta.title }}</h2>
			<div class="sidebar-cta__content">
				{{ cta.body }}
			</div>
			<p class="sidebar-cta__footer">{{ cta.cta }}<br>
				<a href="tel:{{ contactInformation.phone | replace({" (" : "1-", ") " : " -"}) }}">{{ contactInformation.phone }}</a>
			</p>
		</div>
	</section>
{% endfor %}
