{% import "_macros" as macros %}

{# Get Last Segment #}
{% set current = craft.app.request.segments|last %}

{% if template == 'accommodations-entry' %}

    {% set sidebarMenuTitle = 'Accommodations' %}

    {# Get Accommodation Entries #}
    {% set entries = craft.entries.section('accommodationsStructure') %}

{% elseif template == 'news' or template == 'news-entry' %}

    {% set sidebarMenuTitle = 'News' %}

    {# Get News Categories #}
    {% set entries = craft.categories.group('news').all() %}


{% else %}

    {% set sidebarMenuTitle = entry.title %}

    {# Get Accommodation Entries #}
    {% set entries = craft.entries.section('accommodations') %}

{% endif %}

<nav class="sidebar-menu">
    <h2 class="sidebar-menu__title">{{ sidebarMenuTitle }}</h2>
    <ul class="sidebar-menu__list">

        {% if template == 'news' or template == 'news-entry' %}
            <li><a class="{{ current == "news" ? 'active' }}" href="/news">All</a></li>
        {% endif %}

        {% nav entry in entries %}
            <li>
                <a class="{{ macros.link_is_current(entry.url) }}" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
        {% endnav %}

    </ul>
</nav>
