{% import '_macros' as macros %}

{% extends '_layouts/default.twig' %}
{% set template = 'dining' %}

{% set title = 'Dining' %}
{% set home = 'false' %}
{% set id = 'dining' %}
{% set data_page = 'dining' %}

{% block body %}

	<main class="main main__{{ template }}" role="main">

		{% for block in entry.diningOptions %}

			<div class="dining-option__wrap">

				<article class="dining-option">
					<h1 class="dining-option__headline">{{ block.headline }}</h1>
					<div class="dining-option__content">
						{{ block.description }}
					</div>

					<div class="dining-option__list-wrap">
						<dl class="dining-option__list">
							{% for row in block.detailsList %}
								<dt class="dining-option__list-label">{{ row.label }}</dt>
								<dd class="dining-option__list-name">{{ row.detail }}</dd>
							{% endfor %}
						</dl>
						{% for row in block.menus %}
							{% set linkUrl = row.linkUrl.one().getURL() %}
							<p>
								<a href="{{ linkUrl }}" target="_blank" class="dining-option__list-link cta-link">{{ row.linkText }}</a>
							</p>
						{% endfor %}
					</div>

					{{ macros.gallery(block.gallery, template) }}
				</article>

			</div>

		{% endfor %}

		{{ macros.cta(entry.cta, template) }}

	</main>

{% endblock %}
